<a href="https://colab.research.google.com/github/bkgsur/FinanceModelingComputationWithPython/blob/main/AIF/Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
f = 5
n = 5
np.random.seed(100)

X = np.random.randint(0,2,(n,f))
X[:4,:3]

Y = np.random.randint(0,2,n)
Y[:4];

print(f"Patterns count {2**f}")

fcols = [ f'f{i}' for i in range(0,f)]
fcols

data = pd.DataFrame(X, columns=fcols) # features
data['l'] = Y # labels

data.info()

Patterns count 32
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f0      5 non-null      int64
 1   f1      5 non-null      int64
 2   f2      5 non-null      int64
 3   f3      5 non-null      int64
 4   f4      5 non-null      int64
 5   l       5 non-null      int64
dtypes: int64(6)
memory usage: 368.0 bytes

In [ ]:
print(data)

grouped = data.groupby(list(data.columns))

print(grouped['l'].size())

freq = grouped['l'].size().unstack(fill_value=0)
freq['sum'] = freq[0] + freq[1]
freq

   f0  f1  f2  f3  f4  l
0   0   0   1   1   1  1
1   1   0   0   0   0  1
2   0   1   0   0   0  1
3   0   1   0   0   1  0
4   0   1   0   0   0  0
f0  f1  f2  f3  f4  l
0   0   1   1   1   1    1
    1   0   0   0   0    1
                    1    1
                1   0    1
1   0   0   0   0   1    1
Name: l, dtype: int64

l               0  1  sum
f0 f1 f2 f3 f4
0  0  1  1  1   0  1    1
   1  0  0  0   1  1    2
            1   1  0    1
1  0  0  0  0   0  1    1